name: Build on master

on:
  push:
    branches:
      - main
  schedule:
      - cron: '0 0 * * 0'

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - uses: msys2/setup-msys2@v2
      with:
        location: D:\msys2_github\
        update: true
        install: >-
            mingw-w64-x86_64-cmake
            mingw-w64-x86_64-gcc
            mingw-w64-x86_64-nasm
            mingw-w64-x86_64-yasm
            mingw-w64-x86_64-ninja
            mingw-w64-x86_64-pkg-config
            mingw-w64-x86_64-meson
            git
            base-devel
            autotools
        msystem: MINGW64
        path-type: strict
    - name: build
      shell: msys2 {0}
      run: |
        export HOME=${{ github.workspace }}
        export LDFLAGS="-static -static-libgcc -static-libstdc++ -s"
        export CFLAGS=-"flto"
        export CXXFLAGS="$CFLAGS"
        git clone https://github.com/fraunhoferhhi/vvenc
        cd vvenc
        mkdir gcc_cmake
        cd gcc_cmake
        cmake .. -G Ninja -DCMAKE_BUILD_TYPE=Release
        ninja
    - name: postprocessing
      shell: cmd
      run: |
        for /f "delims=" %%i in ('git -C vvenc log -1 --format^="%%h"') do set "shorthash=%%i"
        for /f "delims=" %%i in ('git -C vvenc rev-list --count HEAD') do set "revision=%%i"
        copy /y vvenc\bin\release-static\*.exe .\
        copy /y vvenc\LICENSE.txt LICENSE.txt
        7z a "VVenC_r%revision%-%shorthash%.7z" *.exe LICENSE.txt
    - name: Upload result
      uses: actions/upload-artifact@v2
      with:
        name: VVenC
        path: |
          VVenC_*.7z

  create_release:
    name: Create release
    needs: build
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v2
    
    - uses: actions/download-artifact@v2
      with:
        name: VVenC
        path: artifacts
    
    - name: Get Date
      id: get_date
      run: |
        DATE_TIME=`date +'%Y-%m-%d-%H-%M-%S'`
        echo "REV_SHA=${SHA}" >> $GITHUB_OUTPUT        
    # https://github.com/Mr-Ojii/L-SMASH-Works-Auto-Builds
    - name: Create a Release
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        RELEASE_NAME=Build-${{ steps.get_date.outputs.DATE_TIME }}
        TAG_NAME=build-${{ steps.get_date.outputs.DATE_TIME }}
        assets=()
        for asset in ${{ github.workspace }}/artifacts/*.7z; do
          assets+=("-a" "$asset")
        done
        hub release create "${assets[@]}" -m "$RELEASE_NAME" "$TAG_NAME"
